.services {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 10rem;
  .services-titles {
    text-align: center;
    font-weight: 800 !important;
    color: black;
    margin-bottom: 3rem;
    h1 {
      font-size: 2.5rem;
    }
    h1,
    h4 {
      font-weight: bold;
    }
  }
  .services-container {
    display: flex;
    justify-content: space-between;
    .service {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      h4 {
        font-weight: bold;
        color: black;
      }
      p {
        color: #706f7b;
      }
      img {
        max-width: 100%;
        height: auto;
        width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .services {
    width: 85%;
  }
}

@media only screen and (max-width: 1050px) {
  .services-container {
    flex-direction: column;
    .service {
      margin-bottom: 3rem;
    }
  }
}
